<h2>{{message}}</h2>
{{#if links}}
    <ul>
        {{#each links}}
            <li><a href="{{href}}">{{text}}</a>
                {{#if accounts}}
                    <form action="/list/account/">
                        <select name="account"
                                onchange="document.getElementById('account').click();">
                            {{#each accounts}}
                                <option value="{{account}}">{{account}}</option>
                            {{/each}}
                        </select>
                        <button id="category" type="submit">Submit</button>
                    </form>
                {{/if}}
                {{#if cats}}
                    <form action="/list/category/">
                        <select name="catId"
                                onchange="document.getElementById('category').click();">
                            {{#each cats}}
                                <option value="{{catId}}">{{catName}}</option>
                            {{/each}}
                        </select>
                        <button id="category" type="submit">Submit</button>
                    </form>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}