<table class="table table-striped">
    <thead>
    <tr class="row">
        <th class="col-md-1">Date</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Amount</th>
        <th class="col-md-1">Balance</th>
        <th class="col-md-3">Category</th>
        <th class="col-md-2">Status</th>
    </tr>
    </thead>
    <tbody>
    {{#rows}}
    <tr class="row">
        <td class="col-md-1">{{date}}</td>
        <td class="col-md-4">{{description}}</td>
        <td class="col-md-1">{{amount}}</td>
        <td class="col-md-1">{{balance}}</td>
        <td class="col-md-3">{{category}}</td>
        <td class="col-md-2">{{status}}</td>
    </tr>
    {{/rows}}
    </tbody>
</table>